.catalog {
  flex-basis: 760px;
  padding-top: 50px;
}

.catalog__sortList {
  width: 300px;
  margin-left: 40px;
  padding-top: 10px;

  font-size: 0;
}

.catalog__sortTitle {
  width: 360px;

  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.catalog__container {
  display: flex;
  flex-wrap: wrap;
}

.catalog__orderList {
  width: 60px;
  padding-top: 10px;

  font-size: 0;
}

.catalog__orderItem {
  display: inline-block;
  margin-left: 19px;
}

.catalog__orderButton {
  width: 11px;
  height: 10px;

  background-color: white;
  outline: none;
  cursor: pointer;

  &--descend {
    background-image: url('../img/icon-down-dir.svg');

    &.catalog__orderItem--current {
      background-image: url('../img/icon-down-dir-active.svg');
    }

    &:hover,
    &:focus {
      background-image: url('../img/icon-down-dir-hover.svg');
    }

    &:active {
      background-image: url('../img/icon-down-dir-active.svg');
    }
  }

  &--ascend {
    background-image: url('../img/icon-up-dir.svg');

    &.catalog__orderItem--current {
      background-image: url('../img/icon-up-dir-active.svg');
    }

    &:hover,
    &:focus {
      background-image: url('../img/icon-up-dir-hover.svg');
    }

    &:active {
      background-image: url('../img/icon-up-dir-active.svg');
    }
  }
}

.catalog__sortItem a {
  opacity: 0.3;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 1;
  }
}

.catalog__sortItem {
  display: inline-block;
  margin-right: 26px;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  &--current a {
    opacity: 1;
  }
}

.catalog__item {
  position: relative;

  margin: 0 20px;
  margin-bottom: 27px;


  &:hover {
    & .catalog__info {
      visibility: visible;
    }

    & .catalog__indicator {
      background-image: url('../img/browser.svg');
    }
  }
}

.catalog__paginationList {
  margin-top: 26px;
  margin-bottom: 60px;

  font-size: 0;
}

.catalog__paginationItem {
  display: inline-block;

  vertical-align: middle;
}

.catalog__indicator {
  width: 360px;
  min-height: 40px;

  background-color: #eaeaea;
}

.catalog__info {
  position: absolute;
  bottom: 7px;
  left: 0;

  width: 360px;
  min-height: 231px;
  padding-top: 27px;
  padding-right: 60px;
  padding-left: 60px;

  text-align: center;

  background-color: #eeeeee;
  visibility: hidden;
}

.catalog__title {
  margin-bottom: 15px;
}

.catalog__title,
.catalog__sortTitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog__content {
  display: inline-block;

  line-height: 18px;
  text-align: center;
  color: #666666;
}

.catalog__button {
  width: 200px;
  margin-top: 27px;

  background-color: $redMainColor;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $redHoverColor;
  }

  &:active {
    background-color: $redActiveColor;
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  }
}

.catalog__paginationLink {
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 11px;
  padding-top: 18px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;

  background-color: #eeeeee;

  &:hover,
  &:focus {
    background-color: #dfdfdf;
  }

  &:active {
    background-color: #d5d5d5;
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    opacity: 0.3;
  }

  &--current {
    padding-top: 15px;

    background-color: white;
    border: 3px solid #dbdbdb;
  }
}

.catalog__paginationButton {
  width: 260px;

  color: black;

  background-color: #eeeeee;

  &:hover,
  &:focus {
    background-color: #dfdfdf;
  }

  &:active {
    background-color: #d5d5d5;
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    opacity: 0.3;
  }
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
  margin-top: 48px;
}
