.filter {
  flex-basis: 280px;
  min-height: 835px;
  padding-top: 55px;
}

.filter__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;

  &--spacy {
    margin-bottom: 48px;

    letter-spacing: 1px;
  }
}

.filter__price {
  position: relative;

  width: 261px;
  height: 80px;
  margin-bottom: 14px;

  background-color: #eeeeee;
}

.filter__val {
  position: absolute;
  top: 39px;
  left: 21px;
  z-index: 2;

  width: 152px;
  height: 2px;

  background-color: #00ca74;
}

.filter__startPin,
.filter__endPin {
  position: absolute;
  z-index: 3;

  width: 20px;
  height: 23px;

  background-image: url('../img/filter-button.svg');
  cursor: pointer;
}

.filter__startPin {
  top: 29px;
  left: 19px;
}

.filter__endPin {
  top: 29px;
  left: 161px;
}

.filter__label {
  position: relative;

  margin-left: 35px;

  line-height: 20px;
  color: $subBlackColor;

  & input[type='radio']:checked + .filter__customRadio {
    background-image: url('../img/radio-on.svg');

    &:hover {
      background-image: url('../img/radio-on-hover.svg');
    }
  }

  & input[type='radio']:disabled + .filter__customRadio {
    background-image: url('../img/radio-off-disabled.svg');
  }

  & input[type='radio']:checked:focus + .filter__customRadio {
    background-image: url('../img/radio-on-hover.svg');
  }

  & input[type='radio']:checked:disabled + .filter__customRadio {
    background-image: url('../img/radio-on-disabled.svg');
  }

  & input[type='checkbox']:checked + .filter__customCheckbox {
    background-image: url('../img/checkbox-on.svg');

    &:hover {
      background-image: url('../img/checkbox-on-hover.svg');
    }
  }

  & input[type='checkbox']:disabled + .filter__customCheckbox {
    background-image: url('../img/checkbox-off-disabled.svg');
  }

  & input[type='checkbox']:checked:disabled + .filter__customCheckbox {
    background-image: url('../img/checkbox-on-disabled.svg');
  }

  & input[type='checkbox']:focus + .filter__customCheckbox {
    background-image: url('../img/checkbox-off-hover.svg');
  }

  & input[type='checkbox']:checked:focus + .filter__customCheckbox {
    background-image: url('../img/checkbox-on-hover.svg');
  }
}

.filter__manufacturers {
  margin-right: -10px;

  font-size: 0;
}

.filter__layoutList {
  margin-top: 13px;
  margin-bottom: 42px;
}

.filter__layoutItem {
  margin-bottom: 17px;
}

.filter__customRadio {
  position: absolute;
  top: -3px;
  left: -35px;

  width: 25px;
  height: 25px;

  background-image: url('../img/radio-off.svg');

  &:hover {
    background-image: url('../img/radio-off-hover.svg');
  }
}

.filter__customCheckbox {
  position: absolute;
  top: -0;
  left: -35px;

  width: 27px;
  height: 23px;

  background-image: url('../img/checkbox-off.svg');
  background-repeat: no-repeat;

  &:hover {
    background-image: url('../img/checkbox-off-hover.svg');
  }
}

.filter__featuresList {
  margin-top: 13px;
  margin-bottom: 48px;
}

.filter__featuresItem {
  margin-bottom: 16px;
}

.filter__rangeLabel {
  display: inline-block;
  width: 145px;
  margin-bottom: 55px;

  font-size: 16px;
  color: $subBlackColor;
  text-transform: uppercase;

  & input[type='text'] {
    width: 80px;
    height: 38px;
    margin-left: 8px;

    font: inherit;
    line-height: 22;
    text-align: center;

    background-color: #eeeeee;
    border: none;
    outline: none;
  }
}

.filter__range {
  position: absolute;
  top: 39px;
  left: 21px;

  width: 219px;
  height: 2px;

  background-color: #d7dcde;
}

.filter__button {
  width: 260px;
  padding-top: 0;

  color: black;

  background-color: #eeeeee;
  outline: none;

  &:hover,
  &:focus {
    background-color: #dfdfdf;
  }

  &:active {
    background-color: #d5d5d5;
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
    opacity: 0.3;
  }
}
