.info {
  min-height: 789px;
  padding-top: 40px;

  & .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.info__content {
  flex-basis: calc((100% + 40px) / 12 * 7 - 40px);
  margin-top: 33px;
}

.info__table {
  position: relative;

  flex-basis: calc((100% + 40px) / 12 * 4 - 40px);
  min-height: 135px;

  & thead {
    display: block;
    margin-top: 42px;
    margin-bottom: 32px;

    & tr {
      display: block;
      width: 100%;
    }
  }

  & tbody {
    display: block;
  }

  & sup {
    font-size: 28px;
  }

  &::before {
    top: 0;
    right: 0;

    width: 360px;
    height: 208px;

    background-image: url('../img/nerds-illustration.jpg');

    @include pseudoElement();
  }
}

.info__intro {
  margin-bottom: 34px;

  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.info__text {
  margin-bottom: 39px;

  color: $subBlackColor;
}

.info__list {
  padding-left: 35px;
}

.info__title {
  margin-top: 242px;

  font-weight: 700;
  text-transform: uppercase;

  &--normal {
    margin-top: 0;
    margin-bottom: 23px;
  }
}

.info__item {
  position: relative;

  margin-bottom: 24px;

  color: $subBlackColor;

  &::before {
    top: 10px;
    left: -34px;

    width: 25px;
    height: 2px;

    background-color: $redMainColor;

    @include pseudoElement();
  }
}

.info__value {
  width: 119px;

  font-weight: 700;
  font-size: 45px;
  line-height: 10px;
  text-align: left;
}

.info__field {
  width: calc(100% / 3);

  line-height: 18px;
}

.info__clientsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 185px;
  margin-top: 48px;

  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.info__clientsItem {
  width: 260px;

  text-align: center;
}

.info__clientsLink {
  position: relative;

  &::after {
    width: 2px;
    height: 52px;

    background-color: #eeeeee;

    @include pseudoElement();
  }

  &:hover,
  &:focus,
  &:active {
    & img {
      visibility: hidden;
    }

    &::before {
      bottom: 4px;
      left: 0;

      @include pseudoElement();
    }
  }

  &--acad {
    width: 199px;
    min-height: 68px;

    &::before {
      width: 199px;
      height: 68px;
    }

    &::after {
      right: -52px;
      bottom: 10px;
    }

    &:hover,
    &:focus {
      &::before {
        background-image: url('../img/logo-1-hover.png');
      }
    }

    &:active {
      &::before {
        background-image: url('../img/logo-1-active.png');
      }
    }
  }

  &--barb {
    width: 209px;
    min-height: 90px;

    &::after {
      right: -46px;
      bottom: 20px;
    }

    &::before {
      width: 209px;
      height: 90px;
    }

    &:hover,
    &:focus {
      &::before {
        background-image: url('../img/logo-2-hover.png');
      }
    }

    &:active {
      &::before {
        background-image: url('../img/logo-2-active.png');
      }
    }
  }

  &--pink {
    width: 185px;
    min-height: 52px;

    &::after {
      right: -58px;
      bottom: 0;
    }

    &::before {
      width: 185px;
      height: 52px;
    }

    &:hover,
    &:focus {
      &::before {
        background-image: url('../img/logo-3-hover.png');
      }
    }

    &:active {
      &::before {
        background-image: url('../img/logo-3-active.png');
      }
    }
  }

  &--mishka {
    width: 173px;
    min-height: 84px;

    &::after {
      display: none;
    }

    &::before {
      width: 173px;
      height: 84px;
    }

    &:hover,
    &:focus {
      &::before {
        background-image: url('../img/logo-4-hover.png');
      }
    }

    &:active {
      &::before {
        background-image: url('../img/logo-4-active.png');
      }
    }
  }
}
